body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
#content {
    width: 100%;
    height: 100%;
}
#content img {
    width: 100%;
    height: 100%;
}
#content .downBtn {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
#content .downBtn img{
    height: 100%;
    width: 40%;
}
#content .Official {
    position: absolute;
    top: 41%;
    width: 100%;
    text-align: center;
}
#content .Official a{
    font-size: 0.98rem;
    color: #e9aa24;
    width: 100%;
    text-decoration:none
}
#content .savePath{
    position: absolute;
    top: 44%;
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
#content .savePath button{
    height: 100%;
    width: 60%;
    border-radius: 45px;
}
#content .chatBtn {
    position: absolute;
    top: 83%;
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
#content .chatBtn img{
    height: 100%;
    width: 67%;
}
#content #qrcode {
    position: absolute;
    top: 88.5%;
    right: 14%;
    width: 21%;
    height: 5%;
}
#content .iosDownBtn {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
#content .iosDownBtn button{
    height: 100%;
    width: 35%;
    border-radius: 45px;
}
#content .iosDownBtn .mui-btn-warning{
    background: #ffba00;
    border:1px solid #ffba00;
}
#content .iosDownBtn .mui-btn-primary{
    border:1px solid #1090fc;
    background: #1090fc;
    margin-left: 1rem;
}
