<!doctype html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>分类页面</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="../css/filmdetails.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="../css/dropload.css" type="text/css">
        <link rel="stylesheet" href="../css/mescroll.min.css" type="text/css">
    </head>
    <body>
        <div id="app" v-cloak>
            <header class="mui-bar mui-bar-nav header_title">
                <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
                <h1 class="mui-title">
                    {{ labelName }}
                </h1>
                <!-- <div class="header_title_seek">编辑</div> -->
            </header>
            <!-- id可以改,而"mescroll"的class不能删 -->
            <div class="not_want_page" v-show="(!networkError && hasNoData) || (networkError && !hasNoData)">
                <div v-show="!networkError && hasNoData" class="network_error">
                    <img class="not_want_img" src="../img/error_tip_img.png">
                    <span class="tip">
                        暂时没有数据
                    </span>
                </div>
                <div v-show="networkError && !hasNoData" class="network_error">
                    <img class="not_want_img" src="../img/error_tip_img.png">
                    <span class="network tip">
                        当前网络好像有问题，请检查网络后刷新
                    </span>
                    <span class="refresh_btn" @tap="refresh">
                        刷新
                    </span>
                </div>
            </div>
            <div v-show="!networkError && !hasNoData" id="mescroll" class="mescroll">
                <!-- //这个div不能删,否则上拉加载的布局会错位.(可以改成ul或者其他容器标签)内容... -->
                <div>
                    <div class="divline"> </div>
                    <!-- 没有数据显示 -->
                    <div v-if="!noNdata" class="no_data">暂无更多影视信息</div>
                    <div v-if="noNdata" class="content">
                        <div class="details" v-for="(item,index) in videoList" :key="index" @click="clickSave(index,item)">
                            <img src='../img/background.png' :imgurl=qnapi+item.picture_url>
                            <div class="details_content">
                                <div class="title">{{item.video_name}}</div>
                                <div class="describe"> {{item.summary.length != 0 ? item.summary : item.video_synopsis}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/zepto.min.js" type="text/javascript"></script>
        <script src="../js/dropload.min.js" type="text/javascript"></script>
        <script src="../js/vue.min.js" type="text/javascript"></script>
        <script src="../js/mescroll.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            var app;
            app = new Vue({
                el: '#app',
                data: {
                    networkError: false,
                    hasNoData: false,
                    labelName: localStorage.getItem("labelName"),
                    labelId: localStorage.getItem("labelId"),
                    visitor_id: null, // 用户 id
                    videoList: [], // 循环渲染数据
                    noNdata: true,
                    pageNum: null,
                    resData: [], //每次数据请求获取到的数据 
                    mescroll: ""
                },
                methods: {
                    getUser: function() {
                        that = this;
                        that.visitor_id = localStorage.getItem('visitorID')
                    },
                    getHistory: function(pages) {
                        that = this;
                        mui.ajax(qnapi + 'api/selectMore', {
                            data: {
                                label_id: that.labelId,
                                page: pages
                            },
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            type: 'post', //HTTP请求类型
                            success: function(data) {
                                that.networkError = false
                                if (data) {
                                    if (that.pageNum == 1) { //此处解决下拉刷新数据重复的问题
                                        that.videoList = [];
                                    }
                                    that.resData = JSON.parse(data).moreArr.data;
                                    that.videoList = that.videoList.concat(that.resData);
                                    var last_page = JSON.parse(data).moreArr.last_page;
                                    if (that.videoList.length == 0) {
                                        that.noNdata = false
                                    } else {
                                        that.noNdata = true
                                    }
                                    that.mescroll.endByPage(that.resData.length, last_page);
                                    // that.mescroll.endSuccess(temp.length);
                                }
                                that.hasNoData = that.videoList && that.videoList.length === 0
                            },
                            error: function(xhr, type, errorThrown) {
                                that.networkError = true
                                mui.toast("服务器繁忙");
                                that.mescroll.endErr();
                            }
                        })
                    },
                    upCallback: function(page) {
                        that = this;
                        that.pageNum = page.num
                        that.getHistory(page.num);
                    },
                    clickSave: function(index, item) {
                        if (item.video_type == 1) {
                            localStorage.setItem("id", item.id);
                            mui.openWindow({
                                url: 'details.html',
                                id: 'details.html'
                            });
                        } else {
                            localStorage.setItem("id", item.id);
                            mui.openWindow({
                                url: 'telePlayDetails.html',
                                id: 'telePlayDetails.html'
                            });
                        }
                    },
                    refresh: function() {
                        that = this;
                        that.getHistory(page.num);
                    }
                },
                mounted: function() {
                    that = this;
                    that.getUser();
                    that.mescroll = new MeScroll("mescroll", {
                        down: {
                            use: false,
                            isLock: true,
                            isBounce: false,
                        },
                        up: {
                            callback: that.upCallback, //上拉加载的回调
                            noMoreSize: 3, //如果列表已无数据,可设置列表的总数量要大于5才显示无更多数据;
                            isBounce: false,
                            htmlNodata: '<p class="upwarp-nodata">-- 我是有底线的 --</p>',
                            page: {
                                num: 0, //当前页 默认0,回调之前会加1; 即callback(page)会从1开始
                                size: 9 //每页数据条数,默认10
                            },
                            lazyLoad: {
                                use: true, // 是否开启懒加载,默认false
                                attr: 'imgurl' // 标签中网络图的属性名 : <img imgurl='网络图  src='占位图''/>
                            }
                        }
                    });
                }
            })
        </script>
    </body>
</html>
