<!DOCTYPE html>
<html lang="en">
    <head id="head">
        <meta charset=UTF-8"UTF-8">
        <title>桔子影音</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../css/ios/app.min.css" media="all">
        <link rel="stylesheet" href="../css/download.css" media="all">
        <link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8" />
        <script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="content" style="position:relative;">
            <img src="../img/iosDownload_bg.jpg" />
            <div class="iosDownBtn">
                <button type="button" class="mui-btn mui-btn-warning " @click="iosClick">立即下载</button>
                <button type="button" class="mui-btn mui-btn-primary " @click="iosTrust">添加信任</button>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: '#content',
                data: {
                    plistUrl: "https://raw.githubusercontent.com/wufei036/quannengPlayer/master/index/quanneng.plist",
                    pervision: 'https://github.com/wufei036/quannengPlayer/raw/master/index/ijuzi.mobileprovision',
                },
                methods: {
                    iosClick: function() {
                        that = this;
                        javascrtpt: window.location.href =
                            'itms-services://?action=download-manifest&url=' + that.plistUrl;
                    },
                    iosTrust: function() {
                        that = this;
                        javascrtpt: window.location.href = that.pervision;
                            
                    },
                },
            })
        </script>

    </body>
</html>
